header {
    display: flex;
    background-color: green;
    justify-content: space-between;
}

header h2 {
    font-size: 3em;
    /* background-color: red; */
    margin:20px;
}

header nav {
    /* background-color: red; */
    margin: 20px 40px 20px 20px;
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}

header a {
    font-size: 1.5em;
}

h1 {
    font-size: 3em;
    padding:30px 60px 30px 30px;
    background-color: red;
}

section {
    background-color: green;
    display:flex;
    justify-content: space-evenly;
}

#titleimage {
    background-color: blue;
}

#titleimage h3 {
    font-size:2em;
    margin: 30px;
    text-align: center;
}

#description {
    background-color: orange;
    max-width: 50%;
}