* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    /* TO DO: Add styling componates to entire document */
}

.top-header {
    color: blue;
    /* TO DO: Add styling to top of page./ 
    /* This includes the about me section and work section. This includes the links for the other parts */
}
#work {
    color:orange
}
.content-child {
    color: pink
    /* TO DO: Add styling to intro section */
    /* This includes the about me section and work section.*/
}

footer {
    color:blueviolet
    /* TO DO: Add styling for the footer. This is your contact info */
}